
.nav-item * {
  color: white !important;
}

.dropdown-menu {
  color: white !important;
  background-color: #051537 !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: white !important;
  color: #051537 !important;
}

//below two designs for search button 
.btn-outline {
  background-color: white !important;
  color: #051537 !important;
}

.btn-outline:hover {
  background-color: #0458AB !important;
  color: white !important;
}

//below two designs for signup button 
.btn-outline-02 {
  background-color: #051537 !important;
  color: white !important;
}

.btn-outline-02:hover {
  background-color: #0458AB !important;
  color: white !important;
}

